<div class="row">
  <div class="col-md-2" style="text-align: left;">
    <button class="btn btn-light" type="submit">
      <a href="/myguru">Go back</a>
    </button>
  </div>
  <div class="col-md-10" style="text-align: right;">
    <h4 class="project-header-title">
      Create new project
    </h4>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <form class="form newproject-form">
      <div class="form-group">
        <label for="email-login">Name</label>
        <input class="form-input" type="text" id="name" />
      </div>
      <div class="form-group">
        <label for="password-login">Description</label>
        <input class="form-input" type="text" id="description" />
      </div>
      <div class="form-group">
        <label for="email-login">Due Date</label>
        <input class="form-input" type="text" id="date" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">create</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/newpost.js"></script>