<div class="row">
  <div class="col-md-12">
    <h2>Create new Project!</h2>

    <form class="form newpst-form">
      <div class="form-group">
        <label for="email-login">Title</label>
        <input class="form-input" type="text" id="title" />
      </div>
      <div class="form-group">
        <label for="password-login">Content</label>
        <input class="form-input" type="text" id="content" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">create</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/newpost.js"></script>