<div class="row">
  <div class="col-md-2" style="text-align: left;">
    <button class="btn btn-light" type="submit">
      <a href="/myguru">Go back</a>
    </button>
  </div>
  <div class="col-md-10" style="text-align: right;">
    <h4 class="project-header-title">
      Create new task
    </h4>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <form class="form newtask-form">
      <div class="form-group">
        <label for="name">Name</label>
        <input class="form-input" type="text" id="name" />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input class="form-input" type="text" id="description" />
      </div>
      <div class="form-group">
        <label for="due-date">Due date</label>
        <input class="form-input" type="date" id="date" />
      </div>
      <div class="form-group">
        <label for="projects-options">Project</label>
        <select id="project" name="projects" class="form-input">
          {{#each projects as |project|}}
            <option value={{project.id}}>{{project.name}}</option>
          {{/each}}
        </select>
      </div>
      <div class="form-group">
        <label for="projects-options">Priority</label>
        <select id="priority" name="priority" class="form-input">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">create</button>
      </div>
    </form>
  </div>
</div>
<div class="row" style="justify-content: space-between;">
  <add-to-calendar-button
    id="calendar-button"
    name="Add the title of your event"
    description="A nice description does not hurt"
    startDate="2022-02-21"
    endDate="2022-02-21"
    options="['Apple','Google','Microsoft365','Outlook.com','Yahoo']"
  >
  </add-to-calendar-button>
</div>
<script type="application/javascript">
  const config = { name: document.getElementById('name').value, description:
  "hello", startDate: "2023-09-26", options:
  ['Apple','Google','Microsoft365','Outlook.com','Yahoo'], timeZone:
  "America/Los_Angeles" }; const button =
  document.getElementById('calendar-button'); if (button) {
  button.addEventListener('click', () => atcb_action(config, button)); }
</script>
<script
  src="https://cdn.jsdelivr.net/npm/add-to-calendar-button@2"
  async
  defer
></script>
<script src="/js/newtask.js"></script>