<div class="row">
  <div class="col-md-12">
    <h2>Create new task</h2>

    <form class="form newpost-form">
      <div class="form-group">
        <label for="email-login">Name</label>
        <input class="form-input" type="text" id="name" />
      </div>
      <div class="form-group">
        <label for="password-login">Description</label>
        <input class="form-input" type="text" id="description" />
      </div>
      <div class="form-group">
        <label for="due-date">Due date</label>
        <input class="form-input" type="date" id="date" />
      </div>
    </form>
  </div>
</div>
<div class="row" style="justify-content: space-between;">
  <add-to-calendar-button
    id="calendar-button"
    name="Add the title of your event"
    description="A nice description does not hurt"
    startDate="2022-02-21"
    endDate="2022-02-21"
    options="['Apple','Google','Microsoft365','Outlook.com','Yahoo']"
  >
  </add-to-calendar-button>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">create</button>
  </div>
</div>
<script type="application/javascript">
  const config = { name: document.getElementById('name').value, description:
  "hello", startDate: "2023-09-26", options:
  ['Apple','Google','Microsoft365','Outlook.com','Yahoo'], timeZone:
  "America/Los_Angeles" }; const button =
  document.getElementById('calendar-button'); if (button) {
  button.addEventListener('click', () => atcb_action(config, button)); }
</script>
<script
  src="https://cdn.jsdelivr.net/npm/add-to-calendar-button@2"
  async
  defer
></script>
{{! <script src="/js/newtask.js"></script> }}