.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.project {
  border-radius: 15px;
  cursor: pointer;
  box-shadow: inset 0 -3em 3em rgb(0 0 0 / 0%), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  margin: 5px;
}

header {
  background-color: #31a9e1;
}

.btn-primary {
  cursor: pointer;
}

footer {
  width: 100%;
  bottom: 0;
  padding: 20px;
  text-align: center;
  color: lightsteelblue;
  margin-top: auto;
  position: absolute;
}

header a {
  color: white;
}

.welcome {
  text-align: center;
}
