.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: white;
  text-decoration: underline;
}

.project {
  cursor: pointer;
  box-shadow: inset 0 -3em 3em rgb(0 0 0 / 0%), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  margin: 5px;
}

nav a:hover {
  color: white;
}
ul {
  background-color: hsl(224.49deg 62.55% 53.92%);
}

.btn-primary {
  cursor: pointer;
}

footer {
  width: 100%;
  bottom: 0;
  padding: 20px;
  text-align: center;
  color: lightsteelblue;
  margin-top: auto;
  position: absolute;
}

header a {
  color: white;
}

.welcome {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  width: 200px;
  height: 100%;
  position: inherit;
  overflow: auto;
  font-size: larger;
  font-weight: bold;
}

nav {
  & a {
    color: white;
  }
}

h3 {
  margin-bottom: 30px;
}

li {
  padding: 20px;
}

.content {
  height: 100%;
}

.project .row {
  margin-bottom: 10px;
}

.btn.btn-primary {
  background-color: hsl(224.49deg 62.55% 53.92%);
  color: white;

  & a {
    color: white;
  }
}

.btn-circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid gray;
}
